.transition-container {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Vista en forma de grilla */
.card-container-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
}

/* Vista en forma de lista */
.card-container-list {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
  gap: 20px;
  align-items: flex-start; /* Alinear elementos al principio */
}

/* Estilos para tarjetas en grilla */
.card {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilos para tarjetas en lista */
.card-list {
  width: calc(50% - 10px); /* Ajustar el ancho para que se vean 2 productos por hilera */
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-list .card-img-container {
  width: 150px;
  height: 150px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
  padding-top: 5px;
}

.card-list .card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card-list .ant-card-meta {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
  padding-top: 5px;
}

.card p, .card-list p {
  margin: 0; /* O ajusta el valor según el espacio que desees */
  padding: 2px 0; /* Reducir el espacio vertical */
  line-height: 1.2; /* Opcional: Ajustar la altura de línea */
}
